<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/static/css/main.3b9205e5.chunk.css" />
    <script src="https://kit.fontawesome.com/2b5f0495b4.js" crossorigin="anonymous"></script>
    <title>No tienes AWESOME CARD, háztelo mirar.</title>
  </head>
  <body>
    <main class="main__form">
      <section class="preview palette01">
        <article class="preview__card">
          <div class="card__name color--side">
            <h2 class="card__name--fullname color--fullname" style="text-align: center">¯\_(ツ)_/¯</h2>
            <p class="card__name--ocupation" style="text-align: center; margin: 15px auto">¯\_(ツ)_/¯</p>
          </div>
          <div class="card__photo" style="background-image: url(''); font-family: sans-serif; text-align: center">
            No card, no fun.
          </div>
          <nav>
            <ul class="card__icons">
              <li>
                <i class="card__icons--icon color--icon fas fa-mobile-alt"></i>
              </li>
              <li>
                <i class="card__icons--icon color--icon far fa-envelope"></i>
              </li>
              <li>
                <i class="card__icons--icon color--icon fab fa-linkedin-in"></i>
              </li>
              <li>
                <i class="card__icons--icon color--icon fab fa-github-alt"></i>
              </li>
            </ul>
          </nav>
        </article>
      </section>
    </main>
  </body>
</html>
