<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>No tienes AWESOME CARD, háztelo mirar</title>
  </head>
  <body>
    <main class="main__form">
      <section class="preview">
        <h1>¯\_(ツ)_/¯</h1>
      </section>
    </main>
  </body>
</html>
